<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testing</title>
</head>
<body>
    <h3>
        <a href="http://www.google.com" baru> input baru</a>
    </h3>
  <table>
      <tr>
          <td>id yayasan</td>
          <td>nama yayasan</td>
          <td>uname yayasan</td>
          <td>pass yayasan</td>
          <td>update</td>
          <td>delete</td>
      </tr>
      {{ range . }}
      <tr>
          <td>{{ .id }}</td>
          <td> {{ .nama }} </td>
          <td>{{ .uname }} </td>
          <td>{{ .pass }} </td>
          <td>
              <a href="/show?id={{ .id }}">show</a>
          </td>
          <td>
              <a href="https://www.google.com">delete</a>
          </td>
      </tr>
      {{ end }}
  </table>
</body>
</html>